* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

body {
    background: #CCCCCC;
}
main {
    height: 600px;
    max-width: 430px;
    margin: 0 auto;
}

p{
    font-size: 1.5em;
}
.subTitle {
    margin: 0 2rem;
    text-align: justify;
}
img{
    width: 100%;
}
button{
    cursor:pointer;
}

.center{
    margin-top: 2rem;
    overflow: hidden;
    border: solid green 2px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "input img"
    "input img"
    "input img"
    "score score"
}

.numberBtn,
#tip{
    width: 50px;
    height: 50px;
    font-size: larger;
}

.input-container{
    margin-left: 1rem;
    grid-area: input;
    border: solid green 5px;
}
.img-container{
    border: solid green 5px;
    grid-area: img;
}
.score-container{
    margin: 1rem auto;
    border: solid greenyellow 4px;
    grid-area: score;
}

.miss {
    display: flex;
    margin-top: 1rem;

}
.score {
    margin: 5px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
}

button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
}

#submitBtn {
    background-color: #666699;
    padding: 15px;
    font-size: larger;
    color: yellow;
}

.hide {
    display: none;
}

#final {
    width: 80%;
    height: 50%;
    background-size: cover;
    background-position:center ;
}

#tip {
    font-weight: 600;
    padding-top: 25px;
}

/* FOOTER */
.footer{
    text-align: center;
    background: var(--black);
    color: var(--white-smoke);
    padding: 2rem 0;
    height: 15vh;
    font-size: .6rem;
}
.footer .text{
    opacity: 0.8;
}
.footer-links{
    display: flex;
    justify-content: center;
    /* margin-top: 1rem; */
    /* margin: 0 auto; */
}
.footer-links a{
    color: var(--white-smoke);
    opacity: 0.8;
    width: 50px;
    height: 50px;
    margin: 0 .2rem;
    border-radius: 50%;
    transition: var(--transition);
}
.footer-links a:hover{
    background: var(--green-vtt);
}