* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #CCCCCC;
    
}

input {
margin: 4px;
padding: 6px;
border-radius: 5px;
}

button {
margin-top: 12px;
padding: 4px 8px;
border-radius: 10px;
background: #ffffff;
}
