* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    background: #CCCCCC;
    height: 80vh;
}
main {
    height: 600px;
    max-width: 430px;
    max-height: 600px;
    margin: 2rem auto 0 auto;
    /* border: 1px solid #000; */
}
p{
    font-size: 1.5em;
}
.subTitle {
    margin: 0 2rem;
    text-align: justify;
}
img{
    width: 100%;
}
button{
    cursor:pointer;
}
.center{
    margin-top: 2rem;
    overflow: hidden;
    /* border: solid green 2px; */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "input img"
    "input img"
    "input img"
    "score score"
}
.numberBtn,
.score,
#tip{
    width: 50px;
    height: 50px;
    font-size: larger;
}
.input-container{
    margin-left: 1rem;
    grid-area: input;
    /* border: solid green 5px; */
}
.img-container{
    /* border: solid green 5px; */
    grid-area: img;
}
.score-container{
    margin: 0 auto;
    /* border: solid greenyellow 4px; */
    grid-area: score;
}
.miss {
    display: flex;
    margin-top: 1rem;
}
button {
    margin: 2px;
    border-radius: 10px;
    background: #ffffff;
}
#submitBtn {
    margin-top: 20px;
    background-color: #666699;
    padding: 15px;
    font-size: larger;
    color: yellow;
}
.hide {
    display: none;
}
#final {
    height: 50%;
    background-size: cover;
    background-position:center ;
}
#tip {
    font-weight: 600;
    padding-top: 25px;
}

/* FOOTER */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: darkgray;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

footer p {
    text-align: center;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
}

footer i {
    color: black;
    font-size: 1.5rem;
    padding: 5px;
}

/* footer{
    text-align: center;
    background: darkgray;
    color:darkorchid;
    opacity: .8;
    padding-top: 1rem;
    height: 7rem;
    font-size: .6rem;
    font-weight: 600;
    width: 100%;
    bottom: 0;
    position:absolute;
}
footer i {
    font-size: 1.5rem;
    padding: 5px;
} */
